<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.theGitBella.be_rich_app">

    <!-- Permissões necessárias -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.USE_CREDENTIALS"/>
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS"/>

    <application
            android:label="be_rich_app"
            android:icon="@mipmap/ic_launcher">

        <!-- Configurações do Google AdMob (se necessário) -->
        <meta-data
                android:name="com.google.android.gms.ads.APPLICATION_ID"
                android:value="YOUR_ADMOB_APP_ID"/>

        <!-- Configurações do Google Sign-In -->
        <meta-data
                android:name="com.google.android.gms.client.id"
                android:value="YOUR_CLIENT_ID"/>

        <activity
                android:name=".MainActivity"
                android:exported="true"
                android:launchMode="singleTop"
                android:taskAffinity=""
                android:theme="@style/LaunchTheme"
                android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
                android:hardwareAccelerated="true"
                android:windowSoftInputMode="adjustResize">

            <!-- Especifica o tema do Android para aplicar a esta atividade -->
            <meta-data
                    android:name="io.flutter.embedding.android.NormalTheme"
                    android:resource="@style/NormalTheme"/>

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- Não exclua o meta-data abaixo. -->
        <!-- Usado pela ferramenta Flutter para gerar GeneratedPluginRegistrant.java -->
        <meta-data
                android:name="flutterEmbedding"
                android:value="2"/>
    </application>

    <!-- Necessário para consultar atividades que podem processar texto -->
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
    </queries>

</manifest>
